run = "python app.py"
modules = ["python-3.11"]
[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python app.py"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 5005
externalPort = 3003

[[ports]]
localPort = 5007
externalPort = 3001

[[ports]]
localPort = 5009
externalPort = 3002

[[ports]]
localPort = 8080
externalPort = 8080
